.isguvenligi p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: black;
}

.isguvenligi {
    margin: 20px auto;         
    padding: 30px;             
    border: 2px solid #000;
    border-radius: 10px;
    background-color: white;
    width: 70%;               
    min-height: 80vh;        
    box-sizing: border-box;    
}



.isguvenligi img {
    width: 10cm;
    height: auto;
}

.isguvenligi h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
}


body {
    background-color: orange;
}

h1 {
    font-family:sans-serif;
    text-align: center;
    
}


button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;

}


.button-container {
    margin: 20px;
    display: flex;
    justify-content: flex-end; 
    gap: 10px; 
}

.button-container button {
    float: none; 
}


.isguvenligi p, 
.isguvenligi ul {
    font-size: 22px;
    line-height: 1.6; 
}


.sayfa3 p, .sayfa3 ul {
    font-size: 22px;   
    line-height: 1.6; 
}

.isguvenligi img {
    width: 12cm;
    height: auto;
    display: block;
    margin: 20px auto;
}

.resim {
    width: 6cm;
    height: 5cm;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}


video {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    border: 2px solid #000;
    border-radius: 10px;
}

.isguvenligi h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
}


.bb {
    border-radius: 50px;
    border: 2px solid #382f2f;
}